<!DOCTYPE HTML>
<html>
<head>
    <title>LeanCloud Quản lý bình luận</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="sign-in-wrap">
    <p class="title">LeanCloud Quản lý bình luận</p>
    <form method="post" action="/login" class="gh-signin">
        <input tabindex="1" name="username"
               placeholder="Tên đăng nhập" autofocus="" type="text" class="gh-input">
        <input tabindex="2" name="password" placeholder="Mật khẩu" type="password" class="password gh-input ember-view">

        <input tabindex="3" type="submit" class="login-button" value="Đăng nhập">
    </form>
    <div class="footer"><p><a href="https://panjunwen.com">By Deserts</a></p></div>
</div>
</body>
</html>
