<!DOCTYPE HTML>
<html>
<head>
    <title>LeanCloud Quản lý bình luận</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="sign-in-wrap">
    <p class="title">Cài đặt tài khoản Quản trị</p>
    <p class="gh-signin gh-signup">
        Vẫn còn bước cuối cùng, hãy thiết lập và xác nhận thông tin quản trị viên.
        <br>Sau khi hoàn thành, bạn có thể đăng nhập vào phần quản lý nền bằng Username mà bạn đã đặt.
        <br>Vui lòng điền những thông tin này khi cài đặt Valine Admin lần đầu tiên. Trang này chỉ xuất hiện sau khi cài đặt lần đầu để đảm bảo an toàn cho dữ liệu của bạn.
        <br>
        <b>Lưu ý: Bắt buộc phải sử Email blogger được đặt trong biến môi trường làm hộp thư quản trị viên.</b>
    </p>
    <hr />
    <form method="post" action="/sign-up" class="gh-signin gh-signup">
        <label>Tên đăng nhập</label><input placeholder="Tên đăng nhập" tabindex="1" name="username"
               autofocus="" type="text" class="gh-input">
        <label>Email (Chỉ đọc)</label><input tabindex="2" name="email" readonly="readonly" value="<%= email %>"
               placeholder="<%= email %>" type="text" class="gh-input">
        <label>Mật khẩu</label><input tabindex="3" name="password" placeholder="Mật khẩu" type="password" class="password gh-input ember-view">
        <input tabindex="4" type="submit" class="login-button" value="Xác nhận cài đặt">
    </form>
    <div class="footer"><p><a href="https://panjunwen.com">By Deserts</a></p></div>
</div>
</body>
</html>
